@{
    ViewData["Title"] = "Gummi Bear Kingdom Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<GummiBearKingdom.Models.Product>

<h2>Products of Gummi Bear Kingdom</h2>

<div class="row">
    <div class="col-3">
        <p>Product Name</p>
    </div>
    <div class="col-2">
        <p>Cost(in cc)</p>
    </div>
    <div class="col-3">
        <p>Country of Origin</p>
    </div>
</div>

@foreach(var product in Model)
{
    <div class="row">
        <div class="col-3">
            @Html.DisplayFor(modelProduct => product.Name)
        </div>
        <div class="col-2">
            @Html.DisplayFor(modelProduct => product.Cost)
        </div>
        <div class="col-3">
            @Html.DisplayFor(modelProduct => product.Country)
        </div>
        <div class="col-4">
            <a asp-action="Details" asp-route-id="@product.ProductId">Details</a> |
            <a asp-action="Edit" asp-route-id="@product.ProductId">Edit</a>
        </div>
    </div>
}

<p><a asp-action="Create">Add a Product</a></p>